tpu-info==0.11.0
yapf==0.43.0
pytest
pytest-mock
absl-py
numpy
google-cloud-storage
jax[tpu]==0.10.0
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
jaxtyping
flax==0.12.7
torchax==0.0.12
qwix==0.1.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
torchvision==0.26.0+cpu
pathwaysutils
parameterized
numba==0.62.1
runai-model-streamer[s3,gcs]==0.15.4
gcsfs==2026.1.0
hypothesis==6.151.9
sortedcontainers==2.4.0
